APP_BASE_URL={{ lookup('tls', 'web-app-dashboard', 'url.base') }}
PENPOT_BASE_URL={{ lookup('tls', application_id, 'url.base') | dotenv_quote }}
KEYCLOAK_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
KEYCLOAK_LOGOUT_URL={{ OIDC.CLIENT.LOGOUT_URL | dotenv_quote }}
ADMIN_USERNAME={{ users.administrator.username | dotenv_quote }}
ADMIN_PASSWORD={{ users.administrator.password | dotenv_quote }}
BIBER_USERNAME={{ users.biber.username | dotenv_quote }}
BIBER_PASSWORD={{ users.biber.password | dotenv_quote }}
NODE_TLS_REJECT_UNAUTHORIZED=0
